<div class="container facout-calculator">
    <div class="row">
        <div class="col-md-11 col-sm-11"></div>
        <div class="col-md-1 col-sm-1">
            <span ng-if="model.layerId > 1" class="glyphicon glyphicon-trash" ng-click="model.onDelete()" ></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <layer-details parent="model"></layer-details>
        </div>
        <div class="col-md-6 col-sm-6">
            <cede-fees parent="model"></cede-fees>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <before-after-facout parent="model"></before-after-facout>
        </div>
    </div>

</div>