<div class="row">
    <div class="col-md-12">
        <label>TRI <input type="checkbox" ng-model="model.tri"></label>
    </div>
</div>
    
<div class="container facout-calculator">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <ng-include src="'js/facout-calculator/facout-layer/layer-details.html'"></ng-include>
        </div>
        <div class="col-md-6 col-sm-6">
            <ng-include src="'js/facout-calculator/facout-layer/cede-fees.html'"></ng-include>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ng-include src="'js/facout-calculator/facout-layer/before-after-facout.html'"></ng-include>
        </div>
    </div>

</div>