<style>
        .cede-fees div.small {
            font-size: 10px;
        }
        i.uk-icon-info-circle{
            color: darkblue;
            cursor: help;
            font-size: 14px;
        }
</style>

<table class="uk-table uk-table-condensed uk-table-noborder cede-fees">
    <thead>
        <th>&nbsp;</th>
        <th>Cede Fees</th>
    </thead>
    <tbody>
        <tr>
            <td>Cede Fee %</td>
            <td><input placeholder="%" type="text" fcsa-number="{ maxDecimals: 4,preventInvalidInput: true,append:'%' }" ng-model="model.parent.layer.cedeFeePercentage"></td>
        </tr>
        <tr ng-show="model.tri === false">
            <td>Cede Fee in Amount</td>
            <td class="foc-blue"><span class="number">{{model.parent.getCedeFeeInAmount() | number}}</span></td>
        </tr>
        <tr ng-show="model.tri === false">
            <td><div>Cede Fee %</div><div class="small">as % of Gross Reinsurance Premium <i class="uk-icon-info-circle" style="cursor:help" title="Info for reinsurer only"><i></div></td>
            <td><span class="number">{{model.parent.getCedeFee() | number}}%</span></td>
        </tr>
        <tr ng-show="model.tri === true">
            <td>Cede Fee including legal fees and WHT</td>
            <td class="foc-blue"><span class="number">{{model.parent.getTriCedeFeeIncludingLegalFeesAndWht() | number}}</span></td>
        </tr>
        <tr ng-show="model.tri === true">
            <td>Ceded Premium Pass Thru</td>
            <td class="foc-blue"><span class="number">{{model.parent.getTriCedePremiumPassThru() | number}}</span></td>
        </tr>
        <tr ng-show="model.tri === true">
            <td>Reinsurer's Payment</td>
            <td><span class="number">{{model.parent.getTriReinsurerPayment() | number}}</span></td>
        </tr>
    </tbody>
</table>