<table class="table">
    <thead>
        <th>&nbsp;</th>
        <th>Layer Details</th>
    </thead>
    <tbody>
        <tr>
            <td>Layer Limit</td>
            <td><input type="text" ui-number-mask="0" ng-model="model.parent.layerLimit"></td>
        </tr>
        <tr>
            <td>Layer Premium</td>
            <td><input type="text" ui-number-mask="0" ng-model="model.parent.layerPremium"></td>
        </tr>
        <tr>
            <td>Underlying Limit</td>
            <td><input type="text" ui-number-mask="0" ng-model="model.parent.underlyingLimit"></td>
        </tr>
    </tbody>
</table>