<table class="uk-table uk-table-condensed uk-table-noborder">
    <thead>
        <th>&nbsp;</th>
        <th>Layer Details</th>
    </thead>
    <tbody>
        <tr>
            <td>Layer Limit</td>
            <td class="foc-green"><input type="text" fcsa-number ng-model="model.parent.layer.layerLimit"></td>
        </tr>
        <tr>
            <td>Layer Premium</td>
            <td class="foc-green"><input type="text" fcsa-number ng-model="model.parent.layer.layerPremium"></td>
        </tr>
        <tr>
            <td>Underlying Limit</td>
            <td class="foc-green"><input type="text" fcsa-number ng-model="model.parent.layer.underlyingLimit"></td>
        </tr>
    </tbody>
</table>