<table class="table">
    <thead>
        <th>&nbsp;</th>
        <th>HCC before Fac Out</th>
        <th>Reinsurer</th>
        <th>HCC after Fac Out</th>
    </thead>
    <tbody>
        <tr>
            <td>Participation %</td>
            <td><input type="text" ui-number-mask="4" ng-model="model.beforeParticipationPercentage"></td>
            <td><input type="text" ui-number-mask="4" ng-model="model.reinsurerParticipationPercentage"></td>
            <td><span class="number">{{model.getAfterParticipationPercentage() | number}}</span></td>
        </tr>
        <tr>
            <td>Limit</td>
            <td><span class="number">{{model.getBeforeLimit() | number}}</span></td>
            <td><span class="number">{{model.getReinsurerLimit() | number}}</span></td>
            <td><span class="number">{{model.getAfterLimit() | number}}</span></td>
        </tr>
        <tr>
            <td>Gross Premium</td>
            <td><span class="number">{{model.getBeforeGrossPremium() | number}}</span></td>
            <td><span class="number">{{model.getReinsurerGrossPremium() | number}}</span></td>
            <td><span class="number">{{model.getAfterGrossPremium() | number}}</span></td>
        </tr>
        <tr>
            <td>Broker Commission %</td>
            <td><input type="text" ui-number-mask="4" ng-model="model.beforeBrokerCommissionPercentage"></td>
            <td><span class="number">{{model.getReinsurerBrokerCommissionPercentage() | number}}</span></td>
            <td><span class="number">{{model.getAfterBrokerCommissionPercentage() | number}}</span></td>
        </tr>
        <tr>
            <td>Net Premium</td>
            <td><span class="number">{{model.getBeforeNetPremium() | number}}</span></td>
            <td><span class="number">{{model.getReinsurerNetPremium() | number}}</span></td>
            <td><span class="number">{{model.getAfterNetPremium() | number}}</span></td>
        </tr>
        <tr ng-show="model.tri === false">
            <td>Taxes</td>
            <td><input type="text" ui-number-mask="2" ng-model="model.beforeTaxes" class="decimals-2"></td>
            <td><span class="number">N/A</span></td>
            <td><span class="number">{{model.getAfterTaxes()| number }}</span></td>
        </tr>
        <tr ng-show="model.tri === true">
            <td>WHT</td>
            <td><input class="decimals-2" type="text" ng-model="model.beforeTriWht" ui-number-mask="2"></td>
            <td><span class="number">{{model.getReinsurerWHT() | number}}</span></td>
            <td><span class="number color-2">{{model.getAfterWHT() | number}}</span></td>
        </tr>
        <tr ng-show="model.tri === true">
            <td>Admin Fee</td>
            <td><input class="decimals-2" type="text" ng-model="model.beforeTriAdminFee" ui-number-mask="2"></td>
            <td><span class="number">{{model.getReinsurerAdminFee() | number}}</span></td>
            <td><span class="number color-1">{{model.getAfterAdminFee() | number}}</span></td>
        </tr>
    </tbody>
</table>