<label>TRI <input type="checkbox" ng-model="model.lob"></label>

<table class="table">
    <thead>
        <td>&nbsp;</td>
        <td>Layer Details</td>
        <td>&nbsp;</td>
        <td>Cede Fees</td>
    </thead>
    <tbody>
        <tr>
            <td>Layer Limit</td>
            <td><input type="number" ng-model="model.layerLimit"></td>
            <td>Cede Fee %</td>
            <td><input type="number" ng-model="model.cededFeePercentage"></td>
        </tr>
        <tr>
            <td>Layer Premium</td>
            <td><input type="number" ng-model="model.layerPremium"></td>
            <td>Cede Fee in Amount</td>
            <td><span class="number">{{model.getCedeFeeInAmount()}}</span></td>
        </tr>
        <tr>
            <td>Underlying Limit</td>
            <td><input type="number" ng-model="model.underlyingLimit"></td>
            <td>Cede Fee</td>
            <td><span class="number">{{model.getCedeFee()}}</span></td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <td>&nbsp;</td>
        <td>HCC before Fac Out</td>
        <td>Reinsurer</td>
        <td>HCC after Fac Out</td>        
    </thead>
    <tbody>
        <tr>
            <td>Participation %</td>
            <td><input type="number" ng-model="model.beforeParticipationPercentage"></td>
            <td><input type="number" ng-model="model.reinsurerParticipationPercentage"></td>
            <td><span class="number">{{model.getAfterParticipationPercentage()}}</span></td>
        </tr>
        <tr>
            <td>Limit</td>
            <td><span class="number">{{model.getBeforeLimit()}}</span></td>
            <td><span class="number">{{model.getReinsurerLimit()}}</span></td>
            <td><span class="number">{{model.getAfterLimit()}}</span></td>
        </tr>
        <tr>
            <td>Gross Premium</td>
            <td><span class="number">{{model.getBeforeGrossPremium()}}</span></td>
            <td><span class="number">{{model.getReinsurerGrossPremium()}}</span></td>
            <td><span class="number">{{model.getAfterGrossPremium()}}</span></td>
        </tr>
        <tr>
            <td>Broker Commission %</td>
            <td><input type="number" ng-model="model.beforeBrokerCommissionPercentage"></td>
            <td><span class="number">{{model.getReinsurerBrokerCommissionPercentage()}}</span></td>
            <td><span class="number">{{model.getAfterBrokerCommissionPercentage()}}</span></td>
        </tr>
        <tr>
            <td>Net Premium</td>
            <td><span class="number">{{model.getBeforeNetPremium()}}</span></td>
            <td><span class="number">{{model.getReinsurerNetPremium()}}</span></td>
            <td><span class="number">{{model.getAfterNetPremium()}}</span></td>
        </tr>
        <tr>
            <td>Taxes</td>
            <td><input type="number" ng-model="model.beforeTaxes"></td>
            <td><span class="number">{{model.getReinsurerTaxes()}}</span></td>
            <td><span class="number">{{model.getAfterTaxes()}}</span></td>
        </tr>
    </tbody>
</table>