<div class="container-fluid facout-calculator" id="facout-calculator">
    
    <div class="row">
        <div class="col-xs-12">
            <quote parent="model"></quote>        
        </div>
    </div>
    
    <div class="row" ng-repeat="layerId in model.howMany">
        <div class="col-xs-12">
            <facout-layer layer-id="layerId" tri="model.tri" on-delete="model.removeLayer()"></facout-layer>        
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default btn-sm" ng-click="model.addLayer()">Add Layer</button>        
        </div>
    </div>
        
</div>