<label>TRI <input type="checkbox"></label>

<table class="table">
    <thead>
        <td>&nbsp;</td>
        <td>Layer Details</td>
        <td>&nbsp;</td>
        <td>Cede Fees</td>
    </thead>
    <tbody>
        <tr>
            <td>Layer Limit</td>
            <td><input type="text"></td>
            <td>Cede Fee %</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Layer Premium</td>
            <td><input type="text"></td>
            <td>Cede Fee in Amount</td>
            <td></td>
        </tr>
        <tr>
            <td>Underlying Limit</td>
            <td><input type="text"></td>
            <td>Cede Fee</td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <td>&nbsp;</td>
        <td>HCC before Fac Out</td>
        <td>Reinsurer</td>
        <td>HCC after Fac Out</td>        
    </thead>
    <tbody>
        <tr>
            <td>Participation %</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td></td>
        </tr>
        <tr>
            <td>Limit</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Gross Premium</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Broker Commission %</td>
            <td><input type="text"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Net Premium</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Taxes</td>
            <td><input type="text"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>