body{
    background-color:#eee;
}
input[type="text"] {
    text-align:right;
    padding-right: 16px;
}
span.number {
    display:block;
    padding-right: 16px;
    width: 199px;
    text-align: right;
}