body{
    background-color:#eee;
}
.color-1{
    background-color: steelblue;
}
.color-2{
    background-color: forestgreen;
}
input.decimals-2{
    padding-right: 34px !important;
}
input {
    width: 195px;
}
input[type="text"] {
    text-align:right;
    padding-right: 16px;
}
span.number {
    display:block;
    padding-right: 62px;
    width: 199px;
    text-align: right;
}