body{
    background-color:#eee;
}
.color-1{
    background-color: steelblue;
}
.color-2{
    background-color: forestgreen;
}

/* general */
#facout-calculator.facout-calculator.container-fluid{
    border: 1px solid #ccc;
    background-color: #FFF;
    font-size: 10px !important;
    padding: 8px;
}

#facout-calculator.facout-calculator .container-fluid{
    border: 1px solid #ccc;
}

#facout-calculator.facout-calculator .container-fluid table {
    font-size: 10px !important;
}

/* .facout-layer */
#facout-calculator.facout-calculator .container-fluid .facout-layer {
    font-size: 10px !important;
}

.facout-layer input.decimals-2{
    padding-right: 34px !important;
}
.facout-layer input {
    width: 80px;
}
.facout-layer input[type="text"] {
    text-align:right;
    padding-right: 16px;
}
.facout-layer span.number {
    display:block;
    padding-right: 62px;
    width: 80px;
    text-align: right;
}
.facout-layer span.glyphicon.glyphicon-trash {
    cursor: pointer;
}

/* quote component */